* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 100px;
    background-color: black;
}
h1 {
    text-align: center;
}
.ecran {
    min-width: 952px;
    min-height: 352px;
    display: flex; 
    justify-content: end;
    border: 1px solid rgb(18, 17, 17); 
    width: 100%;
    line-height: 350px;
    font-size: 200px; 
    color: white;
    font-size: 150px;
    margin: 20px 0px;
    padding: 0 50px;
}

div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    border-radius: 20px;
}


.autre {
    width: 20%;
    border: 1px solid rgb(18, 17, 17);
    background-color: rgb(207, 211, 211);
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    font-size: 80px;
    
}
.autre:hover {
    color: rgb(192, 28, 28);
    background-color: rgb(245, 245, 250);
    cursor: pointer;
}
.operator {
    width: 20%;
    border: 1px solid rgb(18, 17, 17);
    background-color: rgb(212, 164, 32);
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-size: 80px;
}
.operator:hover {
    color: rgb(192, 28, 28);
    background-color: rgb(245, 245, 250);
}
.maNumero {
    width: 20%;
    border: 1px solid rgb(18, 17, 17);
    background-color: rgb(48, 51, 51);
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-size: 80px;
}
.maNumero:hover {
    color: rgb(192, 28, 28);
    background-color: rgb(245, 245, 250);
}

.zero {
    width: 47%;
    border: 1px solid rgb(18, 17, 17);
    background-color: rgb(48, 51, 51);
    border-radius: 50px;
    color: white;
    font-size: 80px;
}
.zero:hover {
    color: rgb(192, 28, 28);
    background-color: rgb(245, 245, 250);
}

